* {
    padding: 0;
}

#content {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 600px;
    background-color: #F0F0F0;
}

.left {
    margin-top: 20px;
    float: left;
    width: 200px;
    height: 100%;
    /* background-color: #00a0dc; */
}

.center {
    margin-top: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 300px;
}

.right {
    margin-top: 60px;
    float: right;
    height: 100%;
    width: 300px;
    /* background-color: #00a0dc; */
}

.left .item_list {
    list-style-type: none;
    padding: 30px;
}

.glyphicon {
    font-size: 31px;
}

.left .item_list li {
    line-height: 60px;
}

.left .item_list li span {
    margin-right: 10px;
}


/* 设置button之间的间距 */

.btn-option .btn-create {
    margin-bottom: 40px;
}


/* 设置button的颜色 */

.btn-option .btn-create button {
    background-color: black;
    color: white;
}

.btn-option .btn-import button {
    background-color: white;
    color: black;
}