* {
    padding: 0px;
}

.auth-action-btn {
    border-radius: 5px;
    width: 100%;
    background: #3fbbff;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    margin: 10px 0px 30px;
}

.lc {
    font-family: TypoRound;
}

.form-signin-heading div {
    position: relative;
    margin-left: 80px;
    font-size: 25px;
    font-weight: 300px;
}

.register_form {
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
}

#send_code {
    margin-left: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #3fbbff;
}