* {
    padding: 0px;
}

.auth-action-btn {
    border-radius: 5px;
    width: 100%;
    background: #3fbbff;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    margin: 10px 0px 30px;
}

.lc {
    font-family: TypoRound;
}

.form-signin-heading div {
    position: relative;
    margin-left: 80px;
    font-size: 25px;
    font-weight: 300px;
}