<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <script type="text/javascript" src="../js/wangEditor.min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="left">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
    <div id="right">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/login">Login in</a></li>
            <li role="presentation"><a href="#">Register</a></li>
        </ul>
    </div>


    <div class="editor" style="clear: both;">
        <div class="toolbar"></div>
        <div></div>
        <div class="content">
            <p>欢迎使用</p>
        </div>
    </div>


    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('.toolbar', '.content');
        editor.create();

        //禁用编辑功能
        editor.$textElem.attr('contenteditable', false);
    </script>
</body>

</html>