<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <script type="text/javascript" src="../js/wangEditor.min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body onload="checkCookie()">
    <div id="top">
        <div class="title">
            <p><a href="./index.html">充&nbsp;电&nbsp;文&nbsp;档</a></p>
        </div>
        <div class="entry">
            <a href="">功能</a>
            <a href="">团队</a>
            <a href="">更多</a>
            <a href="">校园合作</a>
        </div>
        <button class="btn">教师版</button>
    </div>
    <div id="content">
        <p>作业文档规范和整理，让收发不再困难</p>
    </div>
    <div id="enter">
        <button class="btn">进入文档</button>
    </div>
    <!-- bg cover -->
    <div class="bg-cover"></div>
    <!-- 登录账号 -->
    <div class="form row">
        <form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
            <div class="col-sm-9 col-md-9" style="width:350px" id="login">
                <!-- <span style="text-align:right"> -->
                <div class="form-close" style="margin-top: 10px;">
                    <button class="btn " id="login_close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                <!-- </span> -->
                <div class="form-signin-heading" style="clear: both;">
                    <div><span class="lc">Web Technology</span></div>
                </div>
                <!-- 标签页，选择登录方式 -->
                <ul id="login_tab" class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#l_account" data-toggle="tab">账号登录</a>
                    </li>
                    <li>
                        <a href="#l_SMS" data-toggle="tab">短信登录</a>
                    </li>
                </ul>

                <div id="longin_tab_content" class="tab-content">
                    <!-- 账号登录 -->
                    <div class="tab-pane fade in active" id="l_account">
                        <div class="form-group ">
                            <label for="username">用户名:</label>
                            <input class="form-control required input-lg" type="username" id="username" placeholder="username" name="username" autofocus="autofocus" maxlength="20" />
                        </div>
                        <div class="form-group ">
                            <label for="password">密码:</label>
                            <input class="form-control required input-lg" type="password" id="password" name="password" autofocus="autofocus" maxlength="20" placeholder="password" />
                        </div>
                    </div>

                    <!-- 短信登录 -->
                    <div class="tab-pane fade" id="l_SMS">
                        <div class="form-group col-xs-12">
                            <label for="username">手机号:</label>
                            <input class="form-control required input-lg" type="username" id="phone_number" name="phone_number" placeholder="手机号" autofocus="autofocus" maxlength="20" />
                        </div>
                        <!-- Todo:完善验证码功能 -->
                        <div class="form-group col-xs-12">
                            <label for="verification_code">验证码:</label>
                            <div class="input-group">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-lg" name="verification_code" placeholder="验证码">
                                </div>
                                <button class="btn default-btn input-lg" id="send_code" type="button">发送验证码</button>
                            </div>
                        </div>
                    </div>


                </div>
                <button name="signin_btn" id="signin_btn" class="auth-action-btn">Sign in</button>

                <div class="text-left">
                    <a href="javascript:;">Forgot password</a>
                    <a href="javascript:;" class="pull-right" onclick="window.location.href = './register.html';">Sign Up</a>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        //全局变量
        var code; //保存验证码
        var wait = 60; //button禁用时间
        $('#login_form').hide();
        var baseurl = "http://localhost:8080/";

        $(document).ready(function() {
            // // 检验是否有register页面跳转过来，如果是，则打开登录页面
            var from = sessionStorage.getItem('from');
            if (from == 'register') {
                $('#login_form').show();
                sessionStorage.setItem('from', '');
            }

            // 登录
            $('#enter .btn').on('click', function() {


                // console.log(localStorage.getItem('authorization'));
                if (localStorage.getItem('authorization') == null) {
                    console.log("没有缓存");
                    $('#login_form').show();
                    $('.bg-cover').show();
                } else {
                    //判断用户是否已经登录
                    $.ajax({
                        url: baseurl + "manager",
                        dataType: "text",
                        type: "get",
                        beforeSend: function(request) {
                            request.setRequestHeader('Authorization', localStorage.getItem('authorization'));
                        },
                        success: function(data) {
                            window.location.href = "./" + data;
                        },
                        error: function(errs) {
                            console.log(errs);
                        }
                    });
                }
            });

            // 关闭登录窗体
            $('#login_close').on('click', function() {
                $('#login_form').hide();
                $('.bg-cover').hide();
            });

            // 关闭注册窗体
            $('#register_close').on('click', function() {
                $('#register_form').hide();
            });

            // Todo:检验输入，目前会点击signin按钮后自动关闭
        });

        /*
            验证码发送功能
        */
        $('#send_code').click(function() {
            //获取手机号
            var telphone = $("input[name='phone_number']").val();
            $.ajax({
                url: baseurl + "message/" + telphone,
                method: "get",
                success: function(data) {
                    // console.log(data);
                    if (data.code == 1) {
                        code = data.validation;
                    }
                },
                error: function() {
                    alert("发送失败");
                }
            });
            //让该button60过后才能点击
            time(this);
        });
        //用来禁用button 60s
        function time(o) {
            if (wait == 0) {
                o.removeAttribute("disabled");
                o.innerHTML = "获取验证码";
                wait = 60;
            } else {
                o.setAttribute("disabled", true);
                o.innerHTML = wait + "s重新发送";
                wait--;
                setTimeout(function() {
                    time(o)
                }, 1000);
            }
        };
    </script>

    <!-- signin_btn点击事件 -->
    <script>
        $('#signin_btn').click(function() {

            //判断用户的登录方式
            var type = $('#login_tab').find('.active').find('a').html();
            if (type == '短信登录') {
                //判断用户输入code 和后端返回的code是否一样
                var real_code = $('input[name="verification_code"]').val();
                if (real_code == code) {
                    window.location.href = './manager.html';
                } else {
                    alert("验证码不正确");
                }
            } else {
                var username = $('#username').val();
                var psd = $('#password').val();
                //Todo：加入检验是否为正确的用户与密码
                // $.cookie('username', user, {
                //     expires: 7
                // });
                $.ajax({
                    url: baseurl + "user/login",
                    type: "post",
                    dataType: "json",
                    data: {
                        "username": username,
                        "password": psd
                    },
                    success: function(data) {
                        console.log(data);
                        if (data.code == 1) {
                            alert(data.msg);
                            localStorage.setItem('authorization', data.authorization);
                            console.log(data.authorization);
                            localStorage.setItem('username', username);
                            window.location.href = './manager.html';
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function(errs) {
                        alert('出错了');
                    }
                });
            }
            return false;
        });

        function checkCookie() {

        }
    </script>
</body>


</html>