<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <script type="text/javascript" src="../js/wangEditor.min.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="top">
        <div class="title">
            <p><a href="./index.html">充&nbsp;电&nbsp;文&nbsp;档</a></p>
        </div>
        <div class="entry">
            <a href="">功能</a>
            <a href="">团队</a>
            <a href="">更多</a>
            <a href="">校园合作</a>
        </div>
        <button class="btn">教师版</button>
    </div>
    <div id="content">
        <p>作业文档规范和整理，让收发不再困难</p>
    </div>
    <div id="enter">
        <button class="btn">进入文档</button>
    </div>



    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
</body>


</html>