<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/bootstrap-theme.css" />
    <script type="text/javascript" src="../js/wangEditor.min.js"></script>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>

    <div class="container">
        <div class="form row">
            <form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form">
                <div class="col-sm-9 col-md-9" style="width:350px">
                    <div class="form-signin-heading">
                        <div><span class="lc">Web Technology</span></div>
                    </div>
                    <div class="form-group ">
                        <label for="username">用户名:</label>
                        <input class="form-control required input-lg" type="username" placeholder="username" name="username" autofocus="autofocus" maxlength="20" />
                    </div>
                    <div class="form-group ">
                        <label for="password">密码:</label>
                        <input class="form-control required input-lg" type="password" name="password" autofocus="autofocus" maxlength="20" placeholder="password" />
                    </div>
                    <button name="signin_btn" type="submit" class="auth-action-btn">Sign in</button>
                    <div class="text-left">
                        <a href="">Forgot password</a>
                        <a href="" class="pull-right">Sign Up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    $().ready(function() {
        $('#login_form').validate({
            onsubmit: true, //是否在提交时验证
            onfocusout: false, //是否在获得焦点时验证
            onkeyup: false, //是否在敲击键盘时验证
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            },
            messages: {
                username: {
                    required: '请输入用户名'
                },
                password: {
                    required: '请输入密码'
                }
            }

        })
    });
</script>

</html>