<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Work Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/wangEditor.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/workstation.css">
</head>

<body>
    <div class="top">
        <button type="button" class="btn btn-default" id="back">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" id="plus">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <span id="title">无标题</span>
        <span id="text" style="margin-left: 10px;">文档将自动保存</span>
        <span class="right">
                <button class="btn">添加协作者</button>
                <button class="btn" id="save-tmp">保存为模板</button>
        </span>
        <!-- 保存成功提示页面 -->
        <div id="save-success">
            <p>保存成功，是否上传到班级？</p>
            <div class="condition">
                <button class="btn btn-default">是</button>
                <button class="btn btn-default">否</button>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="menu" class="toolbar"></div>
        <br>
        <div id="content" class="text">
            <!-- <p>请输入内容</p> -->
        </div>
    </div>

</body>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor1 = new E('#menu', '#content');
    editor1.create();
    $('#save-success').hide();
    $(document).ready(function() {

        // 添加回退事件
        $('#back').on('click', function() {
            window.history.back(-1);
        });

        //保存模板添加事件
        $('#save-tmp').on('click', function() {
            $('#save-success').show();
        });
    });
</script>

</html>